env:
  global:
    - CC_TEST_REPORTER_ID=223eccd52e0685221f32d788a5847a98d00c00688c3eebfa714ee95887d40f20
    - COVERAGE=on
language: ruby
rvm:
  - 2.5.0
  - 2.6.0
before_install:
  - gem update --system
  - bundle update --bundler
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
  - bundle exec rubocop
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
