name: Ruby

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    matrix:
      runs-on: ubuntu-latest
      ruby: [2.5, 2.6, 2.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Update the RubyGems system software
      run: gem update --system
    - name: Update Bundler
      run: bundle update --bundler
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rspec
